*{
    background-color: transparent ;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

#vidCol{
    padding-left: 310px;
}

#mapCol{
    padding-left: 130px;
}

section{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

#information{
    padding-top: 50px;
}
