*{
    background-color: rgb(255, 255, 255);
}

nav .nav-link {
    background-color: rgb(149, 186, 186);
    color: rgb(11, 63, 63);
    font-family: fantasy;
    font-size: 30px;
    transition-property: inherit;
    transition-duration: 0.5s;
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    
}

nav .container-fluid {
    background-color: rgb(149, 186, 186);
}

nav .collapse {
background-color: rgb(149, 186, 186);
}

nav .nav-item {
    background-color: rgb(149, 186, 186);
    padding-right: 100px;
    
}

nav .nav-link:hover {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

nav .form-control {
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 30px;
}

form.btn {
    background-color: rgb(0, 0, 0);
    font-family: fantasy;
    font-size: 30px;
}

nav.btn:hover {
    background-color: rgb(11, 63, 63);
    font-family: fantasy;
    font-size: 30px;
}

canvas {
    background-color:rgb(149, 186, 186);
    padding-left: 90px;
}
