@font-face {
    font-family: 'myFont';
    src: url('http://localhost:8080/fonts/font-face.ttf');
    font-style: normal;
    font-weight: 100;
}

footer {
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(11, 63, 63);
    font-family: myFont;
    font-size: large;
}

footer p {
    background-color:rgb(11, 63, 63);
}

body{ 
    display:flex; 
    flex-direction:column; 
  }