.form-row
{
    display: flex;
}

.form-row.col-group
{
    flex: 1;

}


#myProductsToSaleList
{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3 , 2fr);
}

.card
{
    font-family: fantasy;
    border: 1px black;
}