.form-row
{
    display: flex;
}

.form-row.col-group
{
    flex: 1; 
}

#productList
{
    display: grid;
    grid-template-columns: repeat(3 , 2fr);
    padding: 50px;
}

#suggestedProductList{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3 , 2fr);
}

.card{
    margin: 20px;
    text-align: right;
}

#suggestedHeader{
    text-align: center;
}

